

<div class="jumbotron center">
     <h1>Welcome to Certified!</h1>
     <p>Stay current with all your certifications, keep track of CPE, get notified of changing requirements. Try it now, 100% free.</p>
     <p>  
       <%= link_to "Log in", "#", class: "btn btn-default btn-lg" %>
       <%= link_to "Sign up", "#", class: "btn btn-primary btn-lg" %>
  	 </p>    
</div>

