<footer class="footer">
  <small>
    <a href="http://staycertified.co/">Stay Certified!</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   '#' %></li>
      <li><%= link_to "Contact", '#' %></li>
      <li><a href="http://news.staycertified.co/">News</a></li>
    </ul>
  </nav>
</footer>